/AvgDegreeCentrality.class
/CWindowCentrality.class
/Centrality.class
/CommunityDetection.class
/CommunityDetectionEngine.class
/DegreeCentrality.class
/DistributedBubbleRap.class
/Duration.class
/KCliqueCommunityDetection.class
/LABELDecisionEngine.class
/ModularityCommunityDetection.class
/SWindowCentrality.class
/SimpleCommunityDetection.class
